/* ---------- GLOBAL ----------

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/** VUETIFY THEME **/
.v-application,
html,
body {
  /* background-color: #eee !important; */
  font-family: 'Open Sans', sans-serif !important;
}

.smallfont {
  font-size: 10px !important;
  letter-spacing: normal;
}
.cursor-p {
  cursor: pointer;
}
/* .v-text-field__slot input {
  text-align: right !important;
} */

/* background color */

/* .background-yellow {
  background: #FFB80C !important;
}
 */


/* text-color */

/* .color-green-text {
  color: #0cff5d !important;
} */

/* text-size */
/*
.text-1-5rem {
  font-size: 1.5rem !important;
} */


